.coucou {
  position: absolute;
  top: 6px;
  padding: 0 10px;
  font-size: 18px;
  z-index: 0;
  transition: transform 0.2s;
  color: #999;
}

.coucou2 {
  z-index: 0;
  position: absolute;
  top: -3px;
    left: 3%;
  color: white;
  font-size: 18px;
  background-color: transparent;
  transform: translate(5px, -18px);
  width: max-content;
  font-family: "Book Antiqua";
  border-radius: 2px;
}


